.gcontainer{
    border: 2px solid black;
    margin-top:100px;
    height:1200px;
    display:grid;
    grid-template-columns: 130px 130px 130px 130px;
    grid-template-rows:130px 130px 130px;
    align-content: space-evenly;
}

.gitem
{
    background-color:red;
    border: 1px solid grey;
    width:122px;
    height:122px;
    margin:10px;
}

.item1
{
   
}

